{% import "_includes/forms" as forms %}

{# Setup our field #}
{{ forms.text({
    id: name,
    name: name,
    value: value is defined ? value : '',
    placeholder: placeholder is not empty ? placeholder : null,
}) }}

<span class="sprout-regularexpression-button {{ id }}"></span>

{% do view.registerAssetBundle("barrelstrength\\sproutbasefields\\web\\assets\\regularexpression\\RegularExpressionFieldAsset") %}

{% js %}

    (function() {
    new SproutRegularExpressionField("{{ id }}", "{{ name }}", "{{ fieldContext }}");
    })();

{% endjs %}